.box1 {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    color: black;
    background-color: cyan;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box2 {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    color: black;
    background-color: darkblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box3 {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    color: black;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box4 {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    color: black;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container1 {
    display: flex;
    background-color: gray;
    margin-bottom: 20px;

    }

.container2 {
    display: flex;
    justify-content: flex-end;
    background-color: gray;
    margin-bottom: 20px;
}

.container3 {
    display: flex;
    justify-content: center;
    background-color: gray;
    margin-bottom: 20px;
}

.container4 {
    display: flex;
    justify-content: space-between;
    background-color: gray;
    margin-bottom: 20px;
}

.container5 {
    display: flex;
    justify-content: space-around;
    background-color: gray;
    margin-bottom: 20px;
}

.container6 {
    display: flex;
    justify-content: space-evenly;
    background-color: gray;
}